<footer>
    <div class="container">
        <div class="footA">
            <h2>crowdshopfin</h2>
            <p>
                <span><i class="fas fa-map-marker"></i></span> IT Venture Tower
                <br>&emsp;&emsp;Seoul, South Korea
                <br>
                <br>
                <span><i class="fas fa-link"></i></span><a href="http://crowdshopfin.com/">http://www.crowdshopfin.com</a>
            </p>
        </div>


        <nav class="footB">
            <div>
                <h3>ABOUT</h3>
                <ul>
                    <li><a href="/">Learn more about crowdshopfin</a></li>
                </ul>
            </div>

            <div>
                <h3>SUPPORT</h3>
                <ul>
                    <li><a href="/">Contact</a></li>
                    <li><a href="/">Feedback</a></li>
                </ul>
            </div>
        </nav>

        <div class="footC">
            © CROWDSHOPFIN. All rights reserved.
        </div>
    </div>


</footer>
