
<link href="/css/header.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/navigation.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
<div class="container">

    <nav class="headB">
        <ul>
            <li><a href="/items_list">둘러보기</a></li>
            <li><a href="/register_item">구매 등록하기</a></li>
        </ul>
    </nav>


    <img src="images/home/logo.png" alt="crowdshopfin" class="image_logo" onclick="goHome()">
    <!--<img src="images/Team_pictures/nyb.png" alt="Avatar" class="image">-->

    <div class="vl"></div>
    <img src="images/home/icon/SEARCH.png" class="image_search">
    <div class="vl"></div>


    <!--<a onclick="clickedSearchIcon()"><img src="images/home/icon/SEARCH.png" class="image_profile" onclick="clickedLogout()"></a>-->
    <!--<a onclick="clickedAlarmIcon()"><img src="images/home/img/alarm.png" class="image_profile" onclick="clickedLogout()"></a>-->
    <img src="images/home/img/alarm.png" class="image_alarm">

    <div class="dropdown">

        <a onclick="clickedPersonIcon()"><img src="images/home/img/profile.png" class="image_profile" onclick="clickedLogout()"></a>

        <div id="myDropdown" class="dropdown-content">
            <!--<img src="images/home/profile.png" onclick="clickedLogout()">-->
            <a onclick="clickedLogout()" class="fas fa-sign-out-alt"> Logout</a>
        </div>
    </div>
</div>

<script>
    function goHome() {
        location.href = "/";
    }
</script>