
<link href="/css/header.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/navigation.js"></script>
<script type="text/javascript" src="/js/logout.js"></script>
<div class="container">
    <div class="container-small">
        <a href="/" class="headA" >BUNDLEPORT</a>
        <button type="button" class="headC">
            <span class="fa fa-bars" title="MENU"></span>
        </button>
    </div>
    <nav class="headB">
        <ul>
            <li><a href="/items_list">둘러보기</a></li>
            <li><a href="/register_item">상품 등록하기</a></li>
            <li><a href="/search">Search</a></li>

            <!--<li><a id="notification" href="/order">ORDER</a></li>-->
            <!--<li><a id="statusOption" href="/status">STATUS</a></li>-->
            <!--<li class="listLogin"><a id="loginOption" href="/login" onclick="clickedListLogin()">LOGIN</a></li>-->
            <!--<li><a id="adminOption" href="/admin">ADMIN</a></li>-->

        </ul>
    </nav>
    <div class="dropdown">
        <button onclick="clickedPersonIcon()" class="dropbtn fas fa-user"></button>
        <div id="myDropdown" class="dropdown-content">
            <a onclick="clickedLogout()" class="fas fa-sign-out-alt"> Logout</a>
        </div>
    </div>
</div>
