/* 헤더 */
header {
    /*position: absolute;*/
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,1);
}

/* 헤더A: 사이트 이름 */
.headA {
    align-content: left;
    display: inline-block;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    /*background-color: #5D9AB2;*/
    /*background-color: var(--main-color);*/
    color: black;
    /*color: var(--text-bright-color);*/
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-decoration: none;
}

.headA:hover, :focus{
    text-decoration: none;
    text-transform: none;
    transform: none;
}


/* 헤더B: 네비게이션 메뉴 */
.headB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 10px;
    margin-left: 0px;
    /*height: 30px;*/
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.headB a:hover {
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    text-transform: none;
}

@media (min-width: 768px) {
    header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }

    .headB ul {
        display: flex;
    }
}

.nohero header {
    position: static;
    border-bottom: solid 1px #000000;
    border-bottom: solid 1px var(--gray-color);
}

.head-hero {
    background-color: transparent;
    color: #000000;
    color: var(--text-bright-color);
    font-weight: bold;
}

.head-hero .headA {
    background-color: transparent;
    color: inherit;
}

.head-hero .headC {
    color: inherit;
    opacity: 1;
}

@media (max-width: 767px){
    .head-hero .headB {
        background-color: rgba(0,0,0,0.8);
    }
}


/* 헤더C: 토글 버튼 */

@media (max-width: 767px) {
    /* 작은 화면 전용 설정 */
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headC {
        margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 28px;
        opacity: 0.5;
        cursor: pointer;
    }

    .headC:hover {
        /*opacity: 0.3;*/
    }

    .headB {
        display: none;
    }
    .dropbtn {
        display:none;
    }
    .listLogin{
        display: block; !important;
    }
}

@media (min-width: 768px) {
    /* 큰 화면 전용 설정 */
    .headC {
        display: none;
    }

    .headB {
        display: block !important;
    }

    .listLogin {
        display: none;
    }
}


.nohero header {
    position: static;
    border-bottom: solid 1px #000000;
    border-bottom: solid 1px var(--gray-color);
}

.head-hero {
    background-color: transparent;
    color: #000000;
    color: var(--text-bright-color);
    font-weight: bold;
}

.head-hero .headA {
    background-color: transparent;
    color: inherit;
}

.head-hero .headC {
    color: inherit;
    opacity: 1;
}

@media (max-width: 767px){
    .head-hero .headB {
        background-color: rgba(0,0,0,0.8);
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,0,0,0.5);
    color: inherit;
    /*padding: 15px;*/
    /*margin-right: 60px;*/
    font-size: 20px;
    border: none;
    cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0,0,0,0.3);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*margin: 50px;*/
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    /*z-index: 1;*/
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #000000;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    /*margin: 10px;*/
    display: inline-block;
    /*padding: 30px;*/
}


.image_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.image_profile {
    display: block;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.image_search {
    display: block;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 40px;
}

.image_alarm {
    display: block;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.vl {
    border-left: 1px solid lightgrey;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
}