body {
    overflow-x: hidden;
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    cursor: pointer;
}

.btn:hover {
    background: #36517F;
    border-color: #36517F;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.4);
}

.image_info {
    width: 100vw;
}

.pop_card_container{
    margin-left: 120px;
    margin-bottom: 50px;
}

.text_pop {
    display: block;
    padding-top: 50px;
    padding-bottom: 20px;
    color: dimgrey;
    /*font-weight: bold;*/
}

.image_pop_card_first {
    margin-left: 0px;
    width: 210px;
    height: 300px;
    /*box-shadow: 2px 2px 2px 2px grey;*/
}

.image_pop_card {
    margin-left: 30px;
    width: 210px;
    height: 300px;
    /*box-shadow: 2px 2px 2px 2px grey;*/
}

.image_pop_card_first:hover {
    box-shadow: 2px 2px 2px 2px grey;
}

.image_pop_card:hover {
    box-shadow: 2px 2px 2px 2px grey;
}