@charset "UTF-8";

/* 기본색 - Refer to : https://color.adobe.com/ko 삼각형 색상 규칙*/
:root {
    --main-color: #5D697F;
    --accent-color: #FF9272; /*FF9272*/ /*6DA2FF*/
    --dark-color: #36517F;
    --dark-main-color: #36517F;
    --text-bright-color: #fff;
    --new-theme-color: rgb(0, 50, 100);
    --new-theme-color-2: rgb(0, 105, 170);
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
    --footer-height: 250px;
}

/* 기본 설정: 폰트 크기 */
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

body {font-size: 16px;}

/* 기본 설정: 페이지 전체 */
body {
    margin: 0;
    font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    snas-serif;
}

