@charset "UTF-8";

/* 기본색 - Refer to : https://color.adobe.com/ko 삼각형 색상 규칙*/
:root {
    --main-color: #5D697F;
    --accent-color: #FF9272; /*FF9272*/ /*6DA2FF*/
    --dark-color: #36517F;
    --dark-main-color: #36517F;
    --text-bright-color: #fff;
    --new-theme-color: rgb(0, 50, 100);
    --new-theme-color-2: rgb(0, 105, 170);
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
    --footer-height: 250px;
}


.order-components {
    margin-left: 60px;
    margin-right: 60px;
    text-align: left;
    margin-bottom: 25px;
}

.order-components p {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 5px;
    font-weight: lighter;
    color: grey;
}

.order-components label, span {
    width: 100%;
}


.order-components input[type="text"] {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    font-size: 12px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(220,220,220);
    border-radius: 0px;
    box-shadow: none;
}

#apply-btn {
    background-color: transparent;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    border: solid;
    color: #000352;
    min-width: 100px;
    width: 8vw;
    height: 5vh;
    border-color: rgba(0,3,82,0.5);
    border-width: 1px;
    outline: none;
    box-shadow: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 기본 설정: 폰트 크기 */
@media (max-width: 599px) {
    :root {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    :root {
        font-size: 16px;
    }
}

@media (min-width: 800px) {
    :root {
        font-size: 18px;
    }
}

body {font-size: 16px;}

/* 기본 설정: 페이지 전체 */
body {
    margin: 0;
    font-family: '맑은 고딕',
    'Apple SD Gothic Neo',
    snas-serif;
}

