<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/home.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>

<div class="event01">
</div>

<div class="event02">
</div>

<div class="hit-products">
    <div class="hptext01">인기 공구 상품</div>
    <div class="ps">
        <div class="p01"></div>
        <div class="p02"></div>
        <div class="p03"></div>
    </div>
    <div class="hptext02">전체보기></div>
</div>

<div class="event03">
</div>

<div class="new-products">
    <div class="nptext01">새로 등록한 상품</div>
    <div class="nps">
        <div class="np01"></div>
        <div class="np02"></div>
        <div class="np03"></div>
        <div class="np04"></div>
    </div>
    <div class="nptext02">전체보기></div>
</div>

<footer></footer>


</body>
</html>
