<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/home.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>


<!--<section class="conA">-->
    <img src="images/home/img/banner.png" width="100%">
    <!--<div class="container">-->
    <!--</div>-->
<!--</section>-->

<img src="images/home/img/info.png" class="image_info">

<div class="pop_card_container">
    <a class="text_pop">인기 공구 상품</a>
    <img src="images/home/btn/popular card1.png" class="image_pop_card_first">
    <img src="images/home/btn/popular card02.png" class="image_pop_card">
    <img src="images/home/btn/popular card3.png" class="image_pop_card">
    <img src="images/home/btn/popular card3.png" class="image_pop_card">
</div>


<img src="images/home/img/banner2.png" width="100%">


<div class="pop_card_container">
    <a class="text_pop">새로 등록된 상품</a>
    <img src="images/home/btn/new card.png" class="image_pop_card_first">
    <img src="images/home/btn/new card3.png" class="image_pop_card">
    <img src="images/home/btn/new card4.png" class="image_pop_card">
    <img src="images/home/btn/new card4.png" class="image_pop_card">
</div>

<% include ../partials/footer.ejs %>


</body>
</html>
