<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/home.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>

<<<<<<< HEAD
<div class="event01">
</div>

<div class="event02">
</div>

<div class="hit-products">
    <div class="hptext01">인기 공구 상품</div>
    <div class="ps">
        <div class="p01"></div>
        <div class="p02"></div>
        <div class="p03"></div>
    </div>
    <div class="hptext02">전체보기></div>
</div>

<div class="event03">
</div>

<div class="new-products">
    <div class="nptext01">새로 등록한 상품</div>
    <div class="nps">
        <div class="np01"></div>
        <div class="np02"></div>
        <div class="np03"></div>
        <div class="np04"></div>
    </div>
    <div class="nptext02">전체보기></div>
</div>

=======
<img src="images/home/img/banner.png" width="100%">
<img src="images/home/img/info.png" class="image_info">
>>>>>>> 5529f0d29f0e9ff3cde11942bd2e15c7e75cc690

<div class="pop_card_container">
    <a class="text_pop">인기 공구 상품</a>
    <img src="images/home/btn/popular card1.png" class="image_pop_card_first">
    <img src="images/home/btn/popular card02.png" class="image_pop_card">
    <img src="images/home/btn/popular card3.png" class="image_pop_card">
    <img src="images/home/btn/popular card4.jpeg" class="image_pop_card">
</div>


<img src="images/home/img/banner2.png" width="100%">


<div class="pop_card_container">
    <a class="text_pop">새로 등록된 상품</a>
    <img src="images/home/btn/new card.png" class="image_pop_card_first">
    <img src="images/home/btn/new card3.png" class="image_pop_card">
    <img src="images/home/btn/new card4.png" class="image_pop_card">
    <img src="images/home/btn/new card4.png" class="image_pop_card">
</div>

<footer></footer>


</body>
</html>
