<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/home.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>

<section class="conA">
    <div class="container">
        <img src="images/logo_white.svg" alt="">
        <h1>Crowdshopfin</h1>
        <p></p>
    </div>
</section>


<% include ../partials/footer.ejs %>


</body>
</html>
