<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/home.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>
<img src="images/home/img/banner.png" width="100%">
<img src="images/home/img/info.png" class="image_info">

<div class="pop_card_container">
    <a class="text_pop">인기 공구 상품</a>
    <img src="images/home/btn/popular card1.png" class="image_pop_card_first" onclick="goToViewItemPage()">
    <img src="images/home/btn/popular card02.png" class="image_pop_card" onclick="goToViewItemWithSellers()">
    <img src="images/home/btn/popular card3.png" class="image_pop_card">
    <img src="images/home/btn/popular card4.jpeg" class="image_pop_card">
</div>


<img src="images/home/img/banner2.png" width="100%">


<div class="pop_card_container">
    <a class="text_pop">새로 등록된 상품</a>
    <img src="images/home/btn/newest card.png" class="image_pop_card_first" onclick="goToViewItemPage()">
    <img src="images/home/btn/new card.png" class="image_pop_card_first">
    <img src="images/home/btn/new card3.png" class="image_pop_card">
    <img src="images/home/btn/new card4.png" class="image_pop_card">
</div>

<img src="images/home/img/footer.png" width="100%">

</body>
</html>


<script>
    function goToViewItemPage() {
        location.href = "/view_item";
    }

    function goToViewItemWithSellers() {
        location.href = "/view_item_with_sellers";
    }
</script>