<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/registerproduct.js"></script>
</head>


<header class="head-hero">
    <% include ../partials/header.ejs %>
</header>

<body>






<footer></footer>

</body>
</html>
