<!DOCTYPE html>
<html lang="ko">

<head>
<% include ../partials/head.ejs %>
<link href="/css/home.css" rel="stylesheet" type="text/css">
<script src="/js/server_base.js"></script>
<script src="/js/register_item.js"></script>
</head>


<header class="head-hero"></header>
    <% include ../partials/header.ejs %>
</header>



<body>

    <div class="rcontainer">
        <h2>
            공동구매 상품 등록하기
        </h2>

        <h5>
            상품 카테고리
        </h5>
        <input type="text" class="emptybox0" 
        placeholder="카테고리를 설정해주세요.">
        </div>

        <h5>
            상품 이름
        </h5>
        <input type="text" class="emptybox0" 
        placeholder="상품 이름을 입력해주세요. (0/50)">

        </div>

        <h5>
            상품 이미지
        </h5>
        
        <input type="text" class="emptybox0" 
        placeholder="이미지를 업로드해주세요.">
    
        </div>

        <h5>
            상품 설명
        </h5>
        <input type="text" class="emptybox0" 
        placeholder="간단한 상품 설명을 입력해주세요.">

        <h5>
            공구 마감일
        </h5>
        <input type="text" class="emptybox0" 
        placeholder="공구 마감일을 설정해주세요">
            
        </div>




    </div>
</body>

<br>
<br>
<img src="images/home/img/footer.png" width="100%">

</html>
